# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
venv/
env/
ENV/
.venv/
rnvenv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Dash
reports/*.xlsx

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# pyinstaller
*.spec